{% extends 'base_index.html' %} 

{% load static %}

{% block content %}
<!--CENTRO-->
		<!-- MAIN -->
		<div class="main">
			<div class="container">
				   <li class="col-sm-4" >
						<h2>Relojes de Hombre</h2>  
					  <div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
						  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						  <li data-target="#myCarousel" data-slide-to="1"></li>
						  <li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner"  >
						  <div class="item active">
							<img src="imagenes/w1.jpg" alt="Los Angeles" style="width:350px;"style="height:270px;">
						  </div>

						  <div class="item">
							<img src="imagenes/w2.jpg" alt="Chicago" style="width:350px;"style="height:270px;">
						  </div>
						
						  <div class="item">
							<img src="imagenes/w5.jpg" alt="New york" style="width:350px;">
						  </div>
						</div>
						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						  <span class="glyphicon glyphicon-chevron-left"></span>
						  <span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">
						  <span class="glyphicon glyphicon-chevron-right"></span>
						  <span class="sr-only">Next</span>
						</a>
					  </div>
					   <button>Comprar Ahora!</button>
				   </li>
				   <li class="col-sm-4">
						<h2>Relojes de Mujer</h2>  
						  <div id="myCarousel" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
							  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							  <li data-target="#myCarousel" data-slide-to="1"></li>
							  <li data-target="#myCarousel" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" >
							  <div class="item active">
								<img src="imagenes/m1.jpg" alt="Los Angeles" style="width:350px;" style="height:270px;">
							  </div>

							  <div class="item">
								<img src="imagenes/m2.jpg" alt="Chicago" style="width:350px;" style="height:270px;">
							  </div>
							
							  <div class="item">
								<img src="imagenes/m3.jpg" alt="New york" style="width:350px;"style="height:270px;">
							  </div>
							</div>

							<!-- Left and right controls -->
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
							  <span class="glyphicon glyphicon-chevron-left"></span>
							  <span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
							  <span class="glyphicon glyphicon-chevron-right"></span>
							  <span class="sr-only">Next</span>
							</a>
						  </div>
						<button>Comprar Ahora!</button>
				   </li>
				   <li class="col-sm-4">
						  <h2>Relojes de Niño</h2>  
						  <div id="myCarousel" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
							  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							  <li data-target="#myCarousel" data-slide-to="1"></li>
							  <li data-target="#myCarousel" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" >
							  <div class="item active">
								<img src="imagenes/n1.jpg" alt="Los Angeles" style="width:350px height:270px;">
							  </div>

							  <div class="item">
								<img src="imagenes/n2.jpg" alt="Chicago" style="width:350px height:270px;">
							  </div>
							
							  <div class="item">
								<img src="imagenes/n3.jpg" alt="New york" style="width:350px height:270px;">
							  </div>
							</div>

							<!-- Left and right controls -->
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
							  <span class="glyphicon glyphicon-chevron-left"></span>
							  <span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
							  <span class="glyphicon glyphicon-chevron-right"></span>
							  <span class="sr-only">Next</span>
							</a>
						  </div>
						<button>Comprar Ahora!</button>
				   </li> 
				   <div class="clearfix"> </div>         
			</div>
	</div>
	<div class="main">			
		<div class="middle_content">
			<div class="container">
				<h2>Bienvenido</h2>
			</div>
		</div>
	</div>
{% endblock %}
		