

<html>
<head>
<title>Watches Register</title>

<link href="css/rg.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
    <div class="banner">
		<div class="account-in">
			<div class="container">
				<form> 
					<div class="register-top-grid">


						<div>
							<span>Usuario<label>*</label></span>
							<input type="text"> 
						</div>
						<div class="clearfix"> </div>
							<a class="news-letter" href="#"></a>
						</div>
						<div class="register-bottom-grid">

						<div>
							<span>Contraseña</span>
							<input type="password">
						</div>

						<div class="clearfix"> </div>
					</div>
				</form>
				<div class="clearfix"> </div>
				<div class="register-but">
					<form action="Avance1.html" method="get">
						<input type="submit" value="confirmar" >

					</form>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>		